
.ttt-top-bar {
    height: 8.3rem;
}

.vy-player-turn-container > *:not(:last-child) {
    margin-right: 0.5rem;
}

.vy-player-turn-container > div,
.vy-player-winner-container {
    border-width: 1px;
    border-style: solid;
    border-color: var( --vy-sys-color-primary);
}


.vy-player-winner-container {
    min-width: 8rem;
    max-width: 14rem;
}

.vy-current-player {
    width: 8rem;
}

.vy-current-player img,
.vy-player-winner-container img {
    width: 4rem;
}

.vy-current-player > h5 {
    text-decoration: underline;
    margin-bottom: 0px;
}


.vy-adjacent-player {
    width: 5rem;
    height: min-content;
}

.vy-adjacent-player img {
    width: 2rem;
}

.vy-adjacent-player > h6 {
    text-decoration: underline;
    margin-bottom: 0px;
}

.vy-player-winner-container + div {
    top: 100%;
    transform: translate(0, 1rem);
}

.vy-player-winner-container + div > button {
    width: 8rem;

    border-style: solid;
    border-width: 2px;
    border-color: var(--vy-sys-color-secondary-container);
    border-radius: 0.5rem;
}

.vy-player-winner-container + div > button:not(:last-child) {

    margin-right: 2rem;
}